body {
    font-family:'lucida grande',tahoma,arial,sans-serif;
    font-size:11px;
}
#header h1 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    padding: 5px 10px;
    margin: 0;
}

.search-item:hover {
    background-color: #D4FFD4;
    cursor: pointer;
};

.x-tree-icon {
    width: 30px;
}